### Initial Data Management of mtcars dataset

The data was downloaded as a \*.data file, which we will read using the read_table function of the pandas module. Inspecting the data visually as text, it seems like the delimiter is a variable amount of whitespace. Therefore, we use an appropriate regular expression as the delimiter. The dataset was downloaded with the name mpg-auto, but the more familiar name is mtcars, so we will use that going forward. The documentation provided in the data repository gives us the following attribute information.

Attribute Information:
1. mpg:           continuous
2. cylinders:     multi-valued discrete
3. displacement:  continuous
4. horsepower:    continuous
5. weight:        continuous
6. acceleration:  continuous
7. model year:    multi-valued discrete
8. origin:        multi-valued discrete
9. car name:      string (unique for each instance)
    
We use these as the column names when reading in the data and save it in the more familiar csv form to the *data/processed* directory.

In [1]:
import pandas as pd

In [2]:
mtcars = pd.read_csv(
    r"/home/jul-ian/Github/mtcars-practice/data/raw/auto-mpg.data", sep=r'\s+',
    names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']
    )

mtcars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [3]:
mtcars.to_csv(r"/home/jul-ian/Github/mtcars-practice/data/processed/mtcars.csv", index=False)